.header_div{
  height: 62px;
  width: 1284px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid transparent;
 top: 0;
}
body{
  margin: 0;
  padding: 0;
}
.amazon-logo{
  height: 31px;
  width: 100px;
  cursor: pointer;
}
.left_div{
  margin-left: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.centre_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}
.items{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
 
}
.items a{
   text-decoration: none;
}
.font-bold{
  color: rgb(0,113,133);
  cursor: pointer;
  
}
.right_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px; 
}
.order-review{
  margin-left: 82px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-top: 90px;
  word-spacing: 6px;
}
.order_list{
  border: 1px solid rgb(203, 197, 197);
  height: 300px;
  width: 740px;
  margin-left: 82px;
  border-radius: 4px;
}
.del_date{
  color: rgb(0, 118, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-left: 20px;
}
.products-img{
  height: 110px;
  width: 100px;
  margin-left: 20px;
}
.product_detail{
  display: flex;
  flex-direction: row; 
}
.product_name{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.product_cost{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  font-size: 15px;
  margin-top: 10px;
  color: rgb(177, 39, 4);
}
.product_quantity{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  font-size: 15px;
  margin-top: 6px;
}
.Update1{
  margin-left: 8px;
  color: rgb(1, 124, 182);
  cursor: pointer;
}
.Update2{
  margin-left: 4px;
  color: rgb(1, 124, 182);
  cursor: pointer;
}
.Update1:hover{
  color: rgb(177, 39, 4);
}
.Update2:hover{
  color: rgb(177, 39, 4);
}
.choose-del{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 45px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0;
}
.input-1{
  
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 0;
  border-color: 2px solid gray;
}

.input_div{
  display: grid;
  grid-template-columns: 24px 1fr;
  place-items: center;
  justify-items: start;
  column-gap: 15px;
  margin-left: 45px;
  margin-top: -10px;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0px;
 
}


.product_date{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 19px;
  color: gray;
}
.date{
  color: rgb(0, 118, 0);
}
.product_date_year{
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
.main_div{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 50px;
  padding-bottom: 30px;
}
.product_rates_dis{
   border: 1px solid rgb(203, 197, 197);
  height: 335px;
  width: 340px;
  margin-left: 15px;
  border-radius: 4px;
}
.side_bar{
  display: flex;
  flex-direction: row;
  column-gap: 0;
}
.order_summary{
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.item_rate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.item_rate2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  
}
.item,.rate,.rate1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-top: 0;
}

.rate1{
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: rgb(209, 205, 205);
}
hr{
  width: 300px;
  margin-top: 0px;
  background-color: rgb(209, 205, 205);
  border-radius: 12px;
}
.item2,.rate2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: rgb(177, 39, 4);
  font-size: 25px;
  margin-top: 0;
}
.order_btn{
  display: flex;
  justify-content: center;
 
}
.btn{
  height: 40px;
  width: 300px;
  margin-top: 0px;
  border-radius: 6px;
  border: 1px solid rgb(252, 210,0);
  background-color: rgb(255, 216, 20);
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
  background-color: rgb(255, 225, 76);
}