.header_div{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: black;
  align-items: center;
  overflow: hidden;
  height: 60px;
  border: 2px solid transparent;
  position: fixed;
  z-index: 1;
  
  top: 0px;
}
header{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}
.left_div{
  margin: 0;
  padding: 0;
  padding-right: 85px;
  padding-left: 10px;
  
}
.amazon-logo{
  height: 30px;
  width: 100px;
  padding: 10px;
  display: block;
  transform: none;
  flex-shrink: 0;
  border: 1px solid transparent;
  cursor: pointer;
}
.amazon-logo:hover{
  border: 1px solid white;
  
}
.amazon-logo:active{
  transform: none;
}
.right_div:hover{
  border: 1px solid white;
}
.return-product:hover{
  border: 1px solid white;
}
.center_div{
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  margin-left: 10px;
 
}
.amazon-text{
  height:38px ;
  width: 786px;
  font-size: 13px;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 16px;
  margin-right: 0px;
  border: none;
  position: relative;
  border: 3px solid transparent;
}
.amazon-text:focus{
  outline: none;
  border: 3px solid rgb(254, 189, 105);
}
.search-icon{
  background-color:rgb(254, 189, 105);
  height:44px ;
  width: 44px; 
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 11px;
  border-left: none;
  margin-left: 0px;
  position: absolute;
  border: none;
  top: 6px;
  cursor: pointer;
}
.search_img{
  height: 16px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.return-product{
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  margin-left: 80px;
  padding: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.return-product a{
  text-decoration: none;
  color: white;
}
.amazon-text::placeholder{
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 2px;
}
.cart_name{
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 4px;
}
.cart_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.right_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.cart-icon{
  height: 36px;
  width: 44px;

}
.right_div a{
   position: relative;
}
.cart_number{
  text-decoration: none;
  color: rgb(254, 189, 105);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right:9px ;
  top: -14px;
  min-width: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  border-radius: 50%;
  
}
.scan_bold{
  font-size: medium
  
}
.div_1{
  height: 470px;
  width: 255px;
  border: 1.4px solid rgb(224, 217, 217);
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0, 0.2);
  
}
.product_img1{
  height: 230px;
  width: 190px;
  margin-top: -10px;
  margin-left: 15px;
}
.product_strs{
  height: 25px;
  width: 130px;
}
.product_rting{
  display: flex;
  flex-direction: row;
   font-family: sans-serif;
  font-weight: lighter;
  margin-left: 15px;
  margin-top: -10px;
}
.content{
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 15px;
}
.rting_no{
  margin-top: 3px;
  margin-left: 14px;
  color: rgb(1,124, 182);
  cursor: pointer;
}
.rting_no:hover{
  color: rgb(255, 115, 115);
}
.product_cost{
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 15px;
  margin-top: -30px;
}
.product_sentence1{
  margin-top: -25px;
}
.product_quntity{
  margin-top: -15px;
  margin-left: 15px;
  
}
.option{
  height: 24px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
}
.option:focus{
  outline: none;
  border: 2px solid rgb(254, 189, 105);
}
.add_to_crt{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.crt_btn{
  height: 40px;
  width: 220px;
  border-radius: 26px;
  border: 1px solid rgb(252, 210, 0);
  background-color: rgb(255,216,20);
  cursor: pointer;
}
.crt_btn:hover{
  opacity: 0.8;
  
}

.row1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3px;
  margin-top: 70px;
}
.row-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 3px;
  margin-top: 10px;
  
}
@media (max-width:600px) {
  .row1{
    grid-template-columns: 1fr 1fr;
  }
  .row-2{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:768px) {
  .row1{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-2{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media (min-width:1200px) {
  .row1{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .row-2{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
}
@media (max-width:1200px) {
  .header_div{
    flex-direction: row;
    height: auto;
    z-index: 300;
  }
  
}